<h1 style="text-align: center;">Online Test Application</h1>
    <div *ngFor="let q of questionsArray" style="font-size: large; margin: 20px;">
            <p>{{q.num}}.) {{q.question}}</p>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button matInput name = "ans1" value="ans1">{{q.ans1}}</mat-radio-button><br>
            <mat-radio-button matInput name = "ans2" value="ans2">{{q.ans2}}</mat-radio-button><br>
            <mat-radio-button matInput name = "ans3" value="ans3">{{q.ans3}}</mat-radio-button><br>
            <mat-radio-button matInput name = "ans4" value="ans4">{{q.ans4}}</mat-radio-button><br><br><br>
        </mat-radio-group>
    </div>
    <div style="margin: 20px;">
        <button mat-raised-button color="primary" (click)="loadResults()">Submit Exam!</button>
    </div>
